= form_for [customer, credit_item] do |f|
  .form-group{class: ("has-error" if credit_item.errors[:category].any?)}
    = f.label :category, class: 'control-label'
    = f.select :category_id, Category.all.map {|c| [c.name, c.id]}, class: 'form-control'
    - if credit_item.errors[:category]
      - credit_item.errors[:category].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if credit_item.errors[:value].any?)}
    = f.label :value, class: 'control-label'
    = f.number_field :value, class: 'form-control'
    - if credit_item.errors[:value]
      - credit_item.errors[:value].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if credit_item.errors[:note].any?)}
    = f.label :note, class: 'control-label'
    = f.text_area :note, class: 'form-control'
    - if credit_item.errors[:note]
      - credit_item.errors[:note].each do |e|
        %span.help-block= e

  .form-group
    = f.submit "Create", class: 'button small'
