- if @customers.any?
  %table
    %tr
      %th Name
      %th Email
      %th Postal code
      %th Customer ID
      %th Balance
      %th
    - @customers.each do |c|
      %tr
        %td= link_to c.name, customer_credit_items_path(c)
        %td= c.email
        %td= c.postal_code
        %td= c.customer_id
        %td= number_to_currency(c.credit_items.sum(:value))
        %td
          = link_to "Quick Add", new_customer_credit_item_path(c)
- else
  %h2 No customers yet
  = link_to "Add one now", action: :new
