= form_for @customer do |f|
  .form-group{class: ("has-error" if @customer.errors[:first_name].any?)}
    = f.label :first_name, class: 'control-label'
    = f.text_field :first_name, class: 'form-control'
    - if @customer.errors[:first_name]
      - @customer.errors[:first_name].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if @customer.errors[:last_name].any?)}
    = f.label :last_name, class: 'control-label'
    = f.text_field :last_name, class: 'form-control'
    - if @customer.errors[:last_name]
      - @customer.errors[:last_name].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if @customer.errors[:email].any?)}
    = f.label :email, class: 'control-label'
    = f.email_field :email, class: 'form-control'
    - if @customer.errors[:email]
      - @customer.errors[:email].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if @customer.errors[:postal_code].any?)}
    = f.label :postal_code, class: 'control-label'
    = f.text_field :postal_code, class: 'form-control'
    - if @customer.errors[:postal_code]
      - @customer.errors[:postal_code].each do |e|
        %span.help-block= e

  .form-group{class: ("has-error" if @customer.errors[:customer_id].any?)}
    = f.label :customer_id, "Customer ID", class: 'control-label'
    = f.text_field :customer_id, class: 'form-control'
    - if @customer.errors[:customer_id]
      - @customer.errors[:customer_id].each do |e|
        %span.help-block= e

  .form-group
    = f.submit "Create User"
