%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      = link_to "Credit Ledger", root_url, class: 'navbar-brand'

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if policy(Customer).manage?
          %li= link_to "Manage Customers", customers_path
      .navbar-form.navbar-left
        .form-group
          = text_field :search, :term, class: 'header_customer_autocomplete form-control', placeholder: 'Customer quick search'

      %ul.nav.navbar-nav.navbar-right
        - if current_user.try!(:admin?)
          %li.dropdown
            %a.dropdown-toggle{role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => false, data: {toggle: 'dropdown'}}
              Admin
              %span.caret
            %ul.dropdown-menu
              - if policy(Category).manage?
                %li= link_to "Manage entry categories", categories_path
              - if policy(User).manage?
                %li= link_to "Manage users", users_path
        - if signed_in?
          %li= link_to "Sign out", session_path, method: :delete
        - else
          %li= link_to "Sign in", new_session_path
